<main>
  <h1>CatphotoApp</h1>
  <h2>Cat Photos</h2>
  <!-- TODO: Ad link to cat photos-->
  <p>Everyone loves cute cats online</p>
  <a href="https://freecatphotoapp.com"> CatPhoto app link </a>
  <img src= <img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg" alt="A cute orange cat lying on its back">
</main>
